<section class="py-5">
  <div class="container-fluid container-lg">
    <p><strong>Primeal</strong> | Aplicação adaptada do curso: Construindo Aplicações Web Com o Novo Angular (4, 5 e 6).</p>
    <h2 class="fw-bold mt-4">Principais Alterações</h2>
    <ul>
      <li>Utilização da versão mais recente do Angular durante a construção do projeto</li>
      <li>Nova arquitetura de pastas e organização do projeto</li>
      <li>Utilização do Boostrap 5 para o estilo e NgBootstrap para as funcionalidades</li>
      <li>Reformulação do design e layout (alguns componentes)</li>
    </ul>
    <h2 class="fw-bold mt-4">Finalidade</h2>
    <p class="mw-25">Aplicar conceitos essenciais do Angular, assim como a integração com uma API em que irá prover os dados, a fim de simular o fluxo de uma aplicação de delivery.</p>
  </div>
</section>